.sign-up-wrapper {
    color: white;
    background: #262626;
    width: 30em;
    margin: 12% auto;
    padding: 20px 0;
}

.sign-up-form-group {
    background: #262626;
    width: 30em;
    margin: 12% auto;
    padding: 20px 0;
}