<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
    <div class="sidebar-inner px-2 pt-3">

      <ul class="nav flex-column pt-3 pt-md-0">

        <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
          <a href="/dashboard" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-heartbeat"></span></span>
            <span class="sidebar-text">Signos Vitales</span>
          </a>
        </li>
        <li class="nav-item {% if 'camera' in segment %} active {% endif %}">
          <a href="/camera" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-eye"></span></span>
            <span class="sidebar-text">Examen de Reflejo Pupilar</span>
          </a>
        </li>
        <li class="nav-item {% if 'transactions' in segment %} active {% endif %}">
          <a href="/registro_medicamentos" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-pills"></span></span>
            <span class="sidebar-text">Registro de Medicamentos</span>
          </a>
        </li>
        <li class="nav-item {% if 'bootstrap-tables' in segment %} active {% endif %}">
          <a href="/registro_comidas"
            class="nav-link  collapsed  d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#submenu-app">
            <span>
              <span class="sidebar-icon"><span class="fas fa-utensils"></span></span>
              <span class="sidebar-text">Registro de Comidas</span>
            </span>
            <span class="link-arrow">
              <!-- <span class="fas fa-chevron-right"></span> -->
            </a>
          </span>

        </li>
        <li class="nav-item">
          <a href="/registro_evacuaciones"
            class="nav-link  collapsed  d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#submenu-pages">
            <span>
              <span class="sidebar-icon"><span class="fas fa-toilet"></span></span>
              <span class="sidebar-text">Registro de Evacuaciones</span>
            </span>
            <span class="link-arrow">
              <!-- <span class="fas fa-chevron-right"></span> -->
            </span>
          </a>
        </li>
        <li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
          <a href="/messages"
            class="nav-link  collapsed  d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#submenu-components">
            <span>
              <span class="sidebar-icon"><span class="fas fa-envelope-open-text"></span></span>
              <span class="sidebar-text">Mensajes</span>
            </span>
            <span class="link-arrow">
              <!-- <span class="fas fa-chevron-right"></span> -->
            </span>
          </a>
        </li>
        <li class="nav-item {% if 'ui-' in segment %} active {% endif %}">
          <a href="/audio_player"
            class="nav-link  collapsed  d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#submenu-components">
            <span>
              <span class="sidebar-icon"><span class="fas fa-microphone"></span></span>
              <span class="sidebar-text">Notas de Voz</span>
            </span>
            <span class="link-arrow">
              <!-- <span class="fas fa-chevron-right"></span> -->
            </span>
          </a>
        </li>

      </ul>
    </div>
  </nav>
  